<!DOCTYPE html>
<html>
<head>
  <title>Smart Shopping List</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootswatch Styles -->
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
  <!-- Bootstrap switch -->
  <!-- <link href="bootstrap-switch.css" rel="stylesheet"> -->
  <!-- Iconicons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>
<body>
<!-- Login Modal -->
<div class="modal fade" id='login-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <form> <!-- Log In Form -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Log In</button>
      </form> <!-- End Log In Form -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Sign Up Modal -->
<div class="modal fade" id='signup-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
      <form> <!-- Sign Up Form -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password2">Enter Password Again</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password Again"> 
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End of Sign Up Modal -->

  <nav class='navbar nav-right'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          SmartList
        </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle='modal' data-target='#signup-modal'>Sign Up</a></li>
          <li><a data-toggle='modal' data-target='#login-modal'>Log In</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
    </div>
   </nav> 
  <div id="page-wrapper" class="container-fluid">
    <header class="page-header">
      <h1>SMART SHOPPING LIST</h1>
    </header>
    <!-- Add new item form: -->
    <div class="row"><!-- first row -->
      <div class='col-xs-12 col-md-10 col-md-offset-2'><!-- first column -->
        <form action="" method="POST" role="form" class='form-inline' id='new-item-form'>
        <form type='hidden' value='none' id='hidden-form'>
          <div class="form-group">
            <input type="text" class="form-control" id="item-input" placeholder="new item" name='name'>
          </div>
            <div class="dropdown form-group"><!--  Shelf life drop-down menu -->
              <button class="btn btn-default dropdown-toggle form-control" type="button" id="expiration-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Shelf Life
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="expiration-menu">
                <li data-value='1 min'>1 minute</li>
                <li data-value='4 days'>Eat it really soon!</li>
                <li data-value='7 days'>Definitely eat it this week</li>
                <li data-value='14 days'>Eat it within two weeks</li>
                <li data-value='30 days'>It will stay fresh all month</li>
                <li data-value='none'>This lasts forever!</li>
              </ul>
            </div><!-- End of shelf life drop down menu -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
         </form>
         </form><!-- end of form -->   
      </div><!-- end of first column -->   
    </div> <!-- end of first row --> 
    <div class="row"> <!--second row-->
      <div class='col-xs-6 col-xs-offset-2 col-md-8 col-mid-offset-4'><!-- first column -->
        <hr>
        <h2> Your list:</h2>
        <hr>
        <ul class="list-unstyled" id="list-items-ul">
          <% items.forEach(function(item) { %>
          <li class='list-group' id='<% item._id %>'>
           <div class='checkbox'>
            <label class='checkbox-inline'>
            <input type='checkbox' id='checkbox' value='' name='checkbox' class='checkbox' data-id='<%=item._id%>'>
            </label> <%=item.name%>
             <progress max='100' value='50'></progress>
              <div class='remove-item pull-right'>
               <button data-id='<%item._id%>' type='button' class='close'>
               <i class='icon ion-ios-trash-outline'></i>
               </button>
              </div>
            </div>
          </li>
          <% }); %>
          <hr>
        </ul>
      </div><!--end of firs column-->
    </div><!--end of second row-->  
  </div>  <!-- end of container -->
</body>
</html>




