#page-wrapper {
	background-color: white;
}

.dropdown {
	cursor: pointer;

}
.dropdown li:hover {
	background-color: grey;
	color: white;
}

progress {
		margin-left: 50px;

}
.grey {
	color: #D1D1DA;
}
.form-group {
	margin: 10px;
}