#page-wrapper {
	background-color: white;
	
}

.dropdown {
	cursor: pointer;

}
.dropdown li:hover {
	background-color: grey;
	color: white;
}

progress {
	margin-left: 80px;
	 position: absolute;
    left:50%;
    margin-left:-20px;

}
.grey {
	color: #D1D1DA;
}
.form-group {
	margin: 10px;
}

h1 {
	color: #0099ff;
	font-size: 60px;
	font-weight: bold;
	
}

h2 {
	color: #0099FF;
	font-size: 36px	;
	font-weight: normal;
}

.input-item {
	opacity: 1;
}
.page-header {
	height: 350px;
	max-width: 800px;
	background-image: url("bag-of-food.jpg");
 	background-size: cover;
 	/*background-position: center; */


}
